ul li{
    list-style: none;
    float: left;

    margin-left: 10px;
  
}

ul li a {
    color:rgb(206, 11, 76);
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    background-color: rgb(15, 165, 224);
}